<table class="table table-striped table-sm text-center">
    <thead>
    <tr>
        <th>#</th>
        <th>brand</th>
        <th>model</th>
        <th>price</th>
    </tr>
    </thead>
    <tbody>
    {% for key, car in cars %}
        <tr>
            <td>{{ key +1}}</td>
            <td>{{ car.brandName }}</td>
            <td>{{ car.modelName }} </td>
            <td>{{ car.price.amount}} {{ car.price.currency.code }} </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
